if !email_sent
  .box.forgot-pwd
    h2 Forgot password
    p Enter the email address you used when creating the account and click Request password.
    p A message will be sent to that address containing the password you entered during the sign up.
    form(autocomplete='off')
      input(type='text', class='email', placeholder='Email address')
    a(class='btn btn-send', href='#', title='Request password') Request password
    a(class='info login-action', href='#', title='Login') Or Login instead
else
  .box.forgot-pwd
    h2 Forgot password
    p Thanks! We've just sent you an e-mail with your password. See you back here soon!