.box.login
  h2 Login with your Collector Account
  form(autocomplete='off')
    input(type='text', class='email', placeholder='Email address')
    input(type='password', class='password', placeholder='Password')
  a(class='btn btn-login', href='#', title='Login with your account') Login
  a(class='info forgot-password', href='#', title='Request a new password') Forgot password?

.box.signup
  h2 No account?
  .yell
    p You will need a Windows Phone device and Collector in order to create an account.
    p Read all your favorite websites, blogs and socials in a new fashionable way, try Collector for Windows Phone!

  a(class='btn alt', target='blank', href='http://www.windowsphone.com/en-us/store/app/collector/8864cfd0-bc46-4a72-a3bd-bc2156b967de?signin=true', title='Download Collector for Windows Phone') Download app*
  p(class='info') *Available on Windows Phone 7 and 8 for $1.99