.box.forgot-pwd
  h2 Account
  h3 #{email}

  p Thanks for trying out the beta of Collector on the web.
  p We're working hard to bring here more features, such as support for Tumblr/Instagram collections and much more. Stay tuned!

  a(class='btn btn-logout', href='#', title='Logout') Logout